# Dependencies
node_modules/

# System
.DS_Store
dist/
.env
.venv/
venv/
__pycache__/
*.pyc

# Astro
.astro/

# VSCode
.vscode/

# Artifacts
.agents/
task.md

# GitHub
.github/prompts/
.github/skills/

# OpenSpec
openspec/
