---
import Layout from '../layouts/Layout.astro';
import { Hero } from '../features/landing/components/Hero';
import Bio from '../features/landing/Bio.astro';
import ProjectGrid from '../features/portfolio/ProjectGrid.astro';
import HealthCheck from '../components/HealthCheck';
---

<Layout>
  <main class="flex min-h-screen flex-col">
    <Hero client:load />
    <Bio />
    <ProjectGrid />
    
    <div class="mt-20 border-t py-10 text-center text-sm text-zinc-500">
       <HealthCheck client:idle />
    </div>
  </main>
</Layout>
